@inherits Microsoft.AspNetCore.Components.ComponentBase

<span class="c2-badge @VariantClass @SizeClass @CssClass" title="@Title">@ChildContent</span>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public BadgeVariant Variant { get; set; } = BadgeVariant.Muted;
    [Parameter] public Size Size { get; set; } = Size.Sm;

    private string VariantClass => Variant switch
    {
        BadgeVariant.Success => "c2-badge-success",
        BadgeVariant.Danger => "c2-badge-danger",
        BadgeVariant.Warning => "c2-badge-warning",
        BadgeVariant.Info => "c2-badge-info",
        BadgeVariant.Dark => "c2-badge-dark",
        _ => "c2-badge-muted"
    };

    private string SizeClass => Size switch
    {
        Size.Xs => "c2-badge-xs",
        _ => ""
    };
}
