@inherits Microsoft.AspNetCore.Components.ComponentBase

<span class="c2-spinner @SizeClass @CssClass"></span>

@code {
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public Size Size { get; set; } = Size.Sm;

    private string SizeClass => Size switch
    {
        Size.Xs => "c2-spinner-xs",
        _ => ""
    };
}
